
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:769px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:769px) and ( max-width:1025px) {} */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
html{
	color: #000;
	font-size: 16px;
	font-family: 'Noto Serif JP', serif;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	line-height: 1.8;
}
a{
	color: #666;
	display: block;
}
#wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 5.5rem auto 0;
	height: auto;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.container{
	max-width: 1180px;
	width: 90%;
	margin: 0 auto;
}
@media screen and (min-width:1540px) {
	/* .container{max-width: 1480px;} */
}
@media screen and (min-width:1280px) and ( max-width:1539px) {
	html{font-size: 15px;}
	/* .container{max-width: 1280px;} */
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	html{font-size: 15px;}
	.container{max-width: none;}
}
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.preload * { transition: none !important; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.hiragino{
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}
.notosans{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 900;
}
@font-face{
	font-family: 'kaimin';
	src:url('../fonts/A-OTF-KaiminSoStd-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'happytime';
	src:url('../fonts/HappyTimeThree.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'times';
	src:url('../fonts/Times.ttc') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.kaimin{ font-family: 'kaimin', serif; }
.happytime{ font-family: 'happytime', serif; }
.times{ font-family: 'times', serif; }
.txt_grd{
	display: inline-block;
	color: transparent;
	background: linear-gradient(0deg, #78440c 0%, #b77f08 38%, #6f5506 92%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media all and (-ms-high-contrast: none) {
	.txt_grd{
		color: #b77f08;
		background: none;
	}
}
.vertical_txt{
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}
.green{ color: #61ad86; }
.red{ color: #d74b40; }
.gold{ color: #d2a568; }
.brown{ color: #6e4104; }
.pink{ color: #f7686a; }
.darkorange{ color: #e74513; }
.darkorange2{ color: #e95833; }
.ttl_wrap{
	text-align: center;
}
.ttl_wrap.gold{
	color: #b28850;
}
.ttl_wrap .ttl_wrap_in{
	position: relative;
	width: 30rem;
	margin: 0 auto;
}
.ttl_wrap .ttl_wrap_in::before,
.ttl_wrap .ttl_wrap_in::after{
	position: absolute;
	content: '';
	top: 50%;
	width: 0.5rem;
	height: 4.5625rem;
}
.ttl_wrap .ttl_wrap_in::before{
	left: -2rem;
	transform: translateY(-50%);
}
.ttl_wrap .ttl_wrap_in::after{
	right: -2rem;
	transform: translateY(-50%) rotate(180deg);
}
.ttl_wrap.green .ttl_wrap_in::before,
.ttl_wrap.green .ttl_wrap_in::after{
	background: url(../images/common/ttl_green.png) center center / cover no-repeat;
}
.ttl_wrap.pink .ttl_wrap_in::before,
.ttl_wrap.pink .ttl_wrap_in::after{
	background: url(../images/common/ttl_pink.png) center center / cover no-repeat;
}
.ttl_wrap.gold .ttl_wrap_in::before,
.ttl_wrap.gold .ttl_wrap_in::after{
	background: url(../images/common/ttl_gold.png) center center / cover no-repeat;
}
.ttl_wrap.darkorange .ttl_wrap_in::before,
.ttl_wrap.darkorange .ttl_wrap_in::after{
	background: url(../images/common/ttl_darkorange.png) center center / cover no-repeat;
}
.ttl_wrap .ttl_wrap_in .ttl{
	font-size: 1.8rem;
	letter-spacing: 0.25rem;
}
.ttl_wrap .ttl_wrap_in p{
	letter-spacing: 0.1rem;
	font-weight: bold;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50000;
	background: #fff;
	width: 100%;
}
header nav{
	width: 90%;
	max-width: 1380px;
	margin: 0 auto;
}
header nav ul{
	display: flex;
	align-items: center;
	height: 5.5rem;
	transition: .3s;
}
header nav ul li.logo{
	margin-right: auto;
}
header nav ul .btn:last-of-type{
	margin-left: 1rem;
}
header nav ul .btn{
	border: solid 2px #f7686a;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav ul .btn.store{
	max-width: 15rem;
	width: 90%;
	margin-left: 2rem;
}
header nav ul .btn.tel{
	background: #f7686a;
}
header nav ul .btn a{
	cursor: pointer;
	transition: .3s;
}
header nav ul .btn.store a{
	font-size: 0.875rem;
	font-weight: bold;
	color: #f7686a;
	padding: 0 1.5rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav ul .btn.store a:hover{
	color: #fff;
	background: #f7686a;
}
header nav ul .btn.tel a:hover{
	opacity: .6;
}
header nav ul .btn.store a span{
	font-size: 1.5rem;
	margin-right: 0.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	background: #eeefe9;
	font-family: 'Noto Sans JP', sans-serif;
	padding: 3.125rem 0;
}
footer .sns_box{
	display: flex;
	justify-content: space-between;
	margin-bottom: 4.375rem;
}
footer .sns_box .box{
	width: 46%;
	background: #fff;
	padding: 2rem;
}
footer .sns_box h3{
	position: relative;
	font-size: 1.25rem;
	padding-left: 3.125rem;
	margin-bottom: 1.25rem;
}
footer .sns_box .inner{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: #78989f;
	width: 2.5rem;
	height: 2.5rem;
	color: #fff;
	text-align: center;
	border-radius: 50%;
}
footer .sns_box iframe{
	width: 100%;
}
footer .f_map{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.875rem;
}
footer .f_map .box:nth-of-type(1){
	width: 60%;
}
footer .f_map .box:nth-of-type(2){
	width: 30%;
}
footer .f_map .box ul{
	display: flex;
	flex-wrap: wrap;
}
footer .f_map .box ul li{
	margin-bottom: 0.9375rem;
}
footer .f_map .box ul a{
	display: block;
	padding-right: 1.25rem;
	margin-right: 1.25rem;
	border-right: 1px solid #525252;
	color: #525252;
	transition: .3s;
}
footer .f_map .box ul a:hover{
	color: #779A9F;
}
footer .f_map .box:nth-of-type(2) h2{
	margin-bottom: 1.25rem;
}
footer .copy{
	font-size: 0.75rem;
	color: #666;
	text-align: right;
}
@media screen and (min-width:1026px) and ( max-width:1279px) {
	footer .f_map .box:nth-of-type(2){
		width: 32%;
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 .mv{
	position: relative;
}
.top01 .mv img{
	width: 100%;
	height: auto;
}
.top01 .mv .box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
}
.top01 .mv .box .img{
	width: 50%;
}
.top01 .mv .box .txt{
	width: 45%;
}
.top01 .mv .box .txt h2{
	font-size: 3.5rem;
	font-weight: normal;
	line-height: 1.3;
	letter-spacing: 0.5rem;
	margin-bottom: 1.25rem;
}
.top01 .mv .box .txt p{
	font-size: 1.6rem;
	line-height: 1.4;
	letter-spacing: 0.2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	padding: 5rem 0 0;
}
.top02 .box .ttl_box{
	text-align: center;
	margin-bottom: 1.5rem;
}
.top02 .box .ttl_box h2{
	font-size: 1.7rem;
	letter-spacing: 0.2rem;
}
.top02 .box h3{
	font-size: 1.8rem;
	text-align: center;
	letter-spacing: 0.2rem;
	margin-bottom: 4rem;
}
.top02 .item{
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
}
.top02 .item:first-of-type{
	margin-top: 0;
}
.top02 .item .img_wrap{
	width: 85%;
}
.top02 .item:nth-of-type(odd) .img_wrap{
	order: 1;
}
.top02 > .item:nth-of-type(even) .img_wrap{
	order: 2;
}
.top02 .item .img_wrap .img{
	margin-bottom: 0.5rem;
}
.top02 .item .img_wrap .img img{
	width: 100%;
	height: auto;
}
.top02 .item .img_wrap p{
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 0.05rem;
}
.top02 .item .txt{
	/* width: 12%; */
	display: flex;
	justify-content: flex-end;
}
.top02 > .item:nth-of-type(odd) .txt{
	order: 2;
}
.top02 .item:nth-of-type(even) .txt{
	order: 1;
	justify-content: flex-start;
}
.top02 .item .txt p{
	font-size: 2.5rem;
	line-height: 1.6;
	letter-spacing: 0.2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{
	padding: 5rem 0;
	background: url(../images/top/top03_back.jpg) top right 60% / cover no-repeat;
}
.top03::before{
	position: absolute;
	content: '';
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(4rem);
	width: 2px;
	height: 8rem;
	background: #d2a568;
}
.top03 .txt{
	width: 100%;
	text-align: center;
}
.top03 .txt h2{
	display: inline-block;
	font-size: 2rem;
	border-bottom: solid 2px #d2a568;
	padding-bottom: 0.5rem;
	margin-bottom: 2rem;
	letter-spacing: 0.2rem;
}
.top03 .txt p{
	font-weight: bold;
	line-height: 2.4;
	letter-spacing: 0.05rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 教材紹介共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.teaching_materials .item{
	display: flex;
	justify-content: space-between;
	background: #fff;
	box-shadow: 0 0 22px -5px rgba(0,0,0,0.2);
	padding: 1.5rem 2rem 3rem;
	border-radius: 0.4rem;
	margin-top: 3.5rem;
}
.teaching_materials .item:first-of-type{
	margin-top: 0;
}
.teaching_materials .item .l_item{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.teaching_materials .l_item .catch{
	letter-spacing: 0.1rem;
	margin-bottom: 0.5rem;
}
.teaching_materials .cat_wrap{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
}
.teaching_materials .cat_wrap p{
	color: #fff;
	width: 12.5rem;
	text-align: center;
	letter-spacing: 0.1rem;
	padding: 0.25rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	border-radius: 0.2rem;
}
.teaching_materials .cat_wrap p.medium{
	width: 15rem;
	padding: 0.25rem 0.75rem;
}
.teaching_materials .cat_wrap p.large{
	width: 33rem;
	padding: 0.25rem 0.75rem;
}
.teaching_materials .cat_wrap p:last-of-type{
	margin-right: 0;
}
.teaching_materials .cat_wrap .cat_green{ background: #61ad86; }
.teaching_materials .cat_wrap .cat_pink{ background: #f19ec2; }
.teaching_materials .cat_wrap .cat_blue{ background: #70b5f0; }
.teaching_materials .cat_wrap .cat_salmonpink{ background: #f7686a; }
.teaching_materials .cat_wrap .cat_orange{ background: #f19149; }
.teaching_materials .cat_wrap .cat_lightgreen{ background: #b3d465; }
.teaching_materials .cat_wrap .cat_gold{ background: #b28850; }
.teaching_materials .cat_wrap .cat_purple{ background: #7e8af9; }
.teaching_materials .cat_wrap .cat_darkorange2{ background: #e95833; }
.teaching_materials .cat_wrap .cat_emeraldgreen{ background: #39bb7f; }

.teaching_materials .l_item h3{
	font-size: 1.6rem;
	line-height: 1.4;
	letter-spacing: 0.2rem;
	margin-bottom: 2rem;
}
.teaching_materials .l_item .price{
	display: inline-block;
	font-size: 1.2rem;
	letter-spacing: 0.15rem;
	border-bottom: solid 2px #000;
	margin-bottom: 1.5rem;
}
.teaching_materials .l_item .price span{
	font-size: 0.8rem;
}

.teaching_materials .l_item .inner01{
	width: 100%;
	margin-bottom: 2rem;
}
.teaching_materials .l_item .inner01 h4{
	font-size: 0.9rem;
	font-weight: normal;
}
.teaching_materials .l_item .inner01 ul{
	margin-left: 1rem;
}
.teaching_materials .l_item .inner01 .txt01{
	margin-bottom: 1rem;
}
.teaching_materials .l_item .inner01 .txt01:last-of-type{
	margin-bottom: 0;
}
.teaching_materials .l_item .inner01 .txt03{
	margin-top: 1rem;
}
.teaching_materials .l_item .inner01 .txt01 .flex_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.teaching_materials .l_item .inner01 .txt01 .flex_list ul:first-of-type{
	width: 40%;
}
.teaching_materials .l_item .inner01 .txt01 .flex_list ul:nth-of-type(2){
	width: 53%;
}
.teaching_materials .l_item .inner01 ul li{
	list-style: disc;
	font-size: 0.9rem;
}
.teaching_materials .l_item .inner01 ol li{
	font-size: 0.9rem;
}
.teaching_materials .l_item .inner01 p{
	font-size: 0.9rem;
}
.teaching_materials .l_item .inner01 p + p{
	margin-top: 1rem;
}
.teaching_materials .l_item .inner01 a{
	color: #158ec7;
	letter-spacing: 0.1rem;
	transition: .3s;
}
.teaching_materials .l_item .inner01 a:hover{
	opacity: .6;
}

.teaching_materials .l_item dl{
	width: 100%;
	display: flex;
	/* margin-top: 2rem; */
	margin-top: auto;
}
.teaching_materials .l_item dt,
.teaching_materials .l_item dd{
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}
.teaching_materials .l_item dt{
	width: 20%;
	padding: 0.25rem 1rem;
	color: #fff;
	background: #b28850;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.teaching_materials .l_item dd{
	width: 80%;
	padding: 0.25rem 1.5rem;
	background: #f3e8d9;
}

.teaching_materials .r_item{
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.teaching_materials .r_item .slider{
	position: relative;
	width: 100%;
	margin-bottom: 4.5rem;
}
.teaching_materials .r_item .slider .swiper-pagination{
	bottom: -2.5rem;
	left: 50%;
	transform: translateX(-50%);
}
.teaching_materials .r_item .slider .swiper-pagination .swiper-pagination-bullet{
	margin: 0 8px;
	outline: none;
}
.teaching_materials .r_item .slider .swiper-pagination .swiper-pagination-bullet-active{
	background: #000;
}
.teaching_materials .r_item .slider .img img{
	width: 100%;
	height: auto;
}

.teaching_materials .r_item .inner{
	width: 100%;
	margin-bottom: 1.5rem;
}
.teaching_materials .r_item .inner .txtbox{
	display: inline-block;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	border: solid 1px #000;
	padding: 0 0.75rem;
	margin-bottom: 0.25rem;
}
.teaching_materials .r_item .inner ul{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.75rem;
}
.teaching_materials .r_item .inner ul li{
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	margin-right: 1rem;
}
.teaching_materials .r_item .inner ul li::before{
	content: '●';
}

.teaching_materials .r_item .btn{
	width: 100%;
	margin-top: auto;
}
.teaching_materials .r_item .btn a{
	color: #b28850;
	padding: 0.75rem;
	letter-spacing: 0.1rem;
	text-align: center;
	border: solid 2px #b28850;
	border-radius: 10px;
	transition: .3s;
}
.teaching_materials .r_item .btn a:hover{
	color: #fff;
	background: #b28850;
	border: solid 2px #b28850;
}
.teaching_materials .r_item .btn a span::after{
	content: '>';
	margin-left: 1rem;
}
@media screen and (min-width:1026px) and ( max-width:1279px) {
	.teaching_materials .l_item .inner02 .txt01 .flex_list ul:first-of-type{
		width: 100%;
	}
	.teaching_materials .l_item .inner02 .txt01 .flex_list ul:nth-of-type(2){
		width: 100%;
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 教材紹介共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{
	padding: 6rem 0 8rem;
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	background: #fff;
}
.top04 .box{
	margin-top: 3.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	padding: 6rem 0 8rem;
	box-shadow: 0px 0 15px 5px rgba(0,0,0,0.2);
	margin-top: -2rem;
	background: #fff;
}
.top05 .box{
	margin-top: 3.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{
	padding: 6rem 0 8rem;
	box-shadow: 0px 0 15px 5px rgba(0,0,0,0.2);
	margin-top: -2rem;
	background: #fff;
}
.top06 .box{
	margin-top: 3.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top07{
	padding: 6rem 0;
	box-shadow: 0px 0 15px 5px rgba(0,0,0,0.2);
	margin-top: -2rem;
	background: #fff;
}
.top07 .box{
	margin-top: 3.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ08 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top08{
	padding: 5rem 0 8rem;
	background: url(../images/top/top08_back.jpg) top left / cover no-repeat;
}
.top08 .ttl_box{
	text-align: center;
	margin-bottom: 1.5rem;
}
.top08 .ttl_box h2{
	font-size: 1.7rem;
	letter-spacing: 0.2rem;
}
.top08 h3{
	max-width: 600px;
	width: 90%;
	margin: 0 auto;
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	padding-bottom: 1.5rem;
	border-bottom: solid 2px #d2a568;
	text-align: center;
}
.top08 .box{
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.top08 .box .item{
	width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 4rem;
	margin-right: 2%;
}
.top08 .box .item:nth-of-type(-n+3){
	margin-top: 0;
}
.top08 .box .item:nth-of-type(3n),
.top08 .box .item:last-of-type{
	margin-right: 0;
}
.top08 .box .item .list01{
	width: 90%;
	margin: 0 auto 3.5rem;
}
.top08 .box .item .list01 li{
	text-align: center;
	border-radius: 3px;
	color: #fff;
	background: #cfa972;
	padding: 0.25rem 0.5rem;
	margin-top: 0.5rem;
	letter-spacing: 0.1rem;
}

.top08 .box .item .inner{
	position: relative;
	width: 100%;
	background: #fff;
	border: solid 1px #d2a568;
	border-radius: 10px;
	/* padding: 1rem; */
	padding: 1.5rem;
	/* height: 18.5rem; */
	height: 32rem;
}
.top08 .box .item:nth-of-type(4) .inner,
.top08 .box .item:nth-of-type(5) .inner{
	height: 23rem;
}
.top08 .box .item .inner::before{
	position: absolute;
	content: '';
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-0.75rem);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1.5rem 1.5rem 0 1.5rem;
	border-color: #d2a568 transparent transparent transparent;
}
/* .top08 .box .item .inner .list02 li{
	font-size: 0.9rem;
}
.top08 .box .item .inner .list02 li::before{
	content: '●';
} */
.top08 .box .item .inner .list02{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
}
.top08 .box .item .inner .list02 li{
	width: 49%;
	margin-top: 0.5rem;
}
.top08 .box .item .inner .list02 li:nth-of-type(-n+2){
	margin-top: 0;
}
.top08 .box .item .inner .list02 li a{
	transition: .3s;
}
.top08 .box .item .inner .list02 li a:hover{
	opacity: .6;
}
.top08 .box .item .inner .list02 li .img img{
	width: auto;
	height: 7.5rem;
}
.top08 .box .item .inner .list02 li p{
	text-align: center;
	font-size: 0.6rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ08 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ09 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top09 .ttl_box{
	background: #cfa972;
	padding: 1rem;
}
.top09 .ttl_box h2{
	color: #fff;
	text-align: center;
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
}
.top09_in{
	padding: 5rem 0 6rem;
	background: url(../images/top/top09_back.jpg) 70% 0% / cover no-repeat;
}
.top09 h3{
	max-width: 600px;
	width: 90%;
	margin: 0 auto;
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	padding-bottom: 1.5rem;
	border-bottom: solid 2px #d2a568;
	text-align: center;
}
.top09 .box{
	margin-top: 4rem;
}
.top09 dt{
	color: #b28850;
	background: #f4eadb;
	margin-top: 2.5rem;
	text-align: center;
	font-size: 1.2rem;
	padding: 0.5rem;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	letter-spacing: 0.2rem;
}
.top09 dt:first-of-type{
	margin-top: 0;
}
.top09 dd{
	background: #fff;
	padding: 1rem 1.5rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ09 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ10 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top10{
	padding: 5rem 0 0;
	background: url(../images/top/top10_back.jpg) top left / cover no-repeat;
}
.top10 .ttl_box{
	text-align: center;
	margin-bottom: 2rem;
}
.top10 .ttl_box .logo{
	width: 15rem;
	margin: 0 auto 2.5rem;
}
.top10 .ttl_box .logo img{
	width: 100%;
	height: auto;
}
.top10 .ttl_box h2{
	font-size: 1.7rem;
	letter-spacing: 0.2rem;
}
.top10 .ttl_box h2 span{
	color: #ea3d3d;
}
.top10 .youtube_wrap{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
.top10 .youtube{
	width: 100%;
	height: 0;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
}
.top10 .youtube iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.top10 .item{
	margin-top: 4rem;
	display: flex;
	justify-content: space-between;
}
.top10 .item .txt{
	width: 75%;
	padding-bottom: 2rem;
}
.top10 .item .txt h3{
	color: #b28850;
	font-size: 1.7rem;
	letter-spacing: 0.2rem;
	padding-bottom: 0.25rem;
	border-bottom: solid 2px #b28850;
	margin-bottom: 1rem;
}
.top10 .item .txt p{
	line-height: 2.4;
}
.top10 .item .img_wrap{
	position: relative;
	width: 20%;
}
.top10 .item .img_wrap .img img{
	width: 100%;
	height: auto;
}
.top10 .item .img_wrap p{
	position: absolute;
	top: 10%;
	right: -1rem;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ10 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ11 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top11{
	padding: 5rem 0;
	text-align: center;
}
.top11 h2{
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
	margin-bottom: 0.5rem;
}
.top11 p{
	font-size: 0.8rem;
}
.top11 .btn{
	width: 20rem;
	margin: 2rem auto 0;
}
.top11 .btn a{
	color: #fff;
	background: #f7686a;
	padding: 0.75rem;
	text-align: center;
	letter-spacing: 0.1rem;
	border: solid 2px #f7686a;
	border-radius: 10px;
	transition: .3s;
}
.top11 .btn a:hover{
	color: #f7686a;
	background: #fff;
	border: solid 2px #f7686a;
}
.top11 .btn a span::after{
	content: '>';
	margin-left: 1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ11 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */