
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
body{-webkit-text-size-adjust: 100%;}
html{
	color: #000;
	font-size: 15px;
	line-height: 1.8;
	font-family: 'Noto Serif JP', serif;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	-webkit-text-size-adjust: 100%;
}
a{
	color: #666;
	display: block;
}
#wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 1.5rem;
}
.is_pc{display: none;}
.is_hidden_tab{display: none;}
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.inertia{ -webkit-overflow-scrolling: touch; }
.preload * { transition: none !important; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.hiragino{
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}
.notosans{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 900;
}
@font-face{
	font-family: 'kaimin';
	src:url('../fonts/A-OTF-KaiminSoStd-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'happytime';
	src:url('../fonts/HappyTimeThree.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'times';
	src:url('../fonts/Times.ttc') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.kaimin{ font-family: 'kaimin', serif; }
.happytime{ font-family: 'happytime', serif; }
.times{ font-family: 'times', serif; }
.txt_grd{
	display: inline-block;
	color: transparent;
	background: linear-gradient(0deg, #78440c 0%, #b77f08 38%, #6f5506 92%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.vertical_txt{
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}
.green{ color: #61ad86; }
.red{ color: #d74b40; }
.gold{ color: #d2a568; }
.brown{ color: #6e4104; }
.pink{ color: #f7686a; }
.darkorange{ color: #e74513; }
.darkorange2{ color: #e95833; }
.ttl_wrap{
	text-align: center;
}
.ttl_wrap.gold{
	color: #b28850;
}
.ttl_wrap .ttl_wrap_in{
	position: relative;
}
.ttl_wrap .ttl_wrap_in::before,
.ttl_wrap .ttl_wrap_in::after{
	position: absolute;
	content: '';
	top: 50%;
	width: 0.4rem;
	height: 3.65rem;
}
.ttl_wrap .ttl_wrap_in::before{
	left: -0.25rem;
	transform: translateY(-50%);
}
.ttl_wrap .ttl_wrap_in::after{
	right: -0.25rem;
	transform: translateY(-50%) rotate(180deg);
}
.ttl_wrap.green .ttl_wrap_in::before,
.ttl_wrap.green .ttl_wrap_in::after{
	background: url(../images/common/ttl_green.png) center center / cover no-repeat;
}
.ttl_wrap.pink .ttl_wrap_in::before,
.ttl_wrap.pink .ttl_wrap_in::after{
	background: url(../images/common/ttl_pink.png) center center / cover no-repeat;
}
.ttl_wrap.gold .ttl_wrap_in::before,
.ttl_wrap.gold .ttl_wrap_in::after{
	background: url(../images/common/ttl_gold.png) center center / cover no-repeat;
}
.ttl_wrap.darkorange .ttl_wrap_in::before,
.ttl_wrap.darkorange .ttl_wrap_in::after{
	background: url(../images/common/ttl_darkorange.png) center center / cover no-repeat;
}
.ttl_wrap .ttl_wrap_in .ttl{
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
}
.ttl_wrap .ttl_wrap_in p{
	letter-spacing: 0.05rem;
	font-weight: bold;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header .header_bar{
	padding: 0.75rem 2rem;
}
header .header_bar h1{
	width: 200px;
	margin: 0 auto;
	line-height: 1;
}
header .header_bar h1 img{
	width: 100%;
	height: auto;
}
header nav{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 50000;
}
header nav ul{
	display: flex;
	justify-content: space-around;
	background: rgba(213, 178, 125, .9);
	padding: 0.5rem 0.25rem;
}
header nav ul .btn{
	width: 48%;
	border: solid 2px #f7686a;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav ul .btn.tel{
	background: #f7686a;
	overflow: hidden;
}
header nav ul .btn.tel a img{
	transform: scale(1.25);
}
header nav ul .btn.store a{
	font-size: 0.7rem;
	font-weight: bold;
	color: #f7686a;
	background: #fff;
	padding: 0 0.5rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav ul .btn.store a span{
	font-size: 1rem;
	margin-right: 0.3rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	background: #eeefe9;
	font-family: 'Noto Sans JP', sans-serif;
	padding: 3rem 0 8rem;
}
footer .sns_box{
	margin-bottom: 3rem;
}
footer .sns_box .box{
	margin-bottom: 2rem;
	background: #fff;
	padding: 1.33rem;
	overflow: hidden;
}
footer .sns_box h3{
	position: relative;
	font-size: 1.2rem;
	padding-left: 2rem;
	margin-bottom: 1.33rem;
}
footer .sns_box .inner{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: #78989f;
	width: 1.65rem;
	height: 1.65rem;
	color: #fff;
	text-align: center;
	line-height: 1.65rem;
	border-radius: 50%;
}
footer .sns_box iframe{
	width: 100%;
}
footer .f_map{
	margin-bottom: 2rem;
}
footer .f_map .box ul{
	display: flex;
	flex-wrap: wrap;
}
footer .f_map .box ul li{
	margin-bottom: 0.65rem;
}
footer .f_map .box ul a{
	font-size: 0.93rem;
	display: block;
	padding-right: 0.65rem;
	margin-right: 0.65rem;
	border-right: 1px solid #525252;
	color: #525252;
}
footer .f_map .box:nth-of-type(2) h2{
	margin: 2.65rem 0 1.33rem;
}
footer .copy{
	font-size: 0.8rem;
	color: #666;
	text-align: right;
	margin: 0 -1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 .mv{
	position: relative;
}
.top01 .mv img{
	width: 100%;
	height: auto;
}
.top01 .mv .box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 1.5rem;
}
.top01 .mv .box .img{
	order: 2;
}
.top01 .mv .box .txt{
	order: 1;
	margin-bottom: 1.5rem;
}
.top01 .mv .box .txt h2{
	font-size: 3rem;
	font-weight: normal;
	line-height: 1.3;
	letter-spacing: 0.5rem;
	margin-bottom: 1rem;
}
.top01 .mv .box .txt p{
	font-size: 1.2rem;
	line-height: 1.4;
	letter-spacing: 0.1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	padding: 2.5rem 0;
}
.top02 .box h2{
	font-size: 1.3rem;
	text-align: center;
	letter-spacing: 0.1rem;
	margin-bottom: 2.5rem;
}
.top02 .item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 3rem;
}
.top02 .item:first-of-type{
	margin-top: 0;
}
.top02 .item .txt{
	width: 100%;
	order: 1;
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.top02 .item .txt p{
	font-size: 2rem;
	line-height: 1.4;
	letter-spacing: 0.2rem;
}
.top02 .item .img_wrap{
	order: 2;
}
.top02 .item .img_wrap .img{
	margin: 0 -2rem 0.5rem;
}
.top02 .item .img_wrap .img img{
	width: 100%;
	height: auto;
}
.top02 .item .img_wrap p{
	font-weight: bold;
	letter-spacing: 0.05rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{
	padding: 2.5rem 0;
	background: url(../images/top/top03_back.jpg) top right 25% / cover no-repeat;
}
.top03 .txt{
	width: 100%;
	text-align: center;
}
.top03 .txt h2{
	display: inline-block;
	font-size: 1.3rem;
	line-height: 1.6;
	border-bottom: solid 2px #d2a568;
	padding-bottom: 0.5rem;
	margin-bottom: 1.75rem;
	letter-spacing: 0.1rem;
}
.top03 .txt p{
	font-size: 0.9rem;
	font-weight: bold;
	line-height: 2.2;
	letter-spacing: 0.05rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 教材紹介共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.teaching_materials .item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background: #fff;
	box-shadow: 0 0 15px -5px rgba(0,0,0,0.2);
	padding: 1.5rem 1.5rem 2rem;
	border-radius: 0.4rem;
	margin-top: 3rem;
}
.teaching_materials .item:first-of-type{
	margin-top: 0;
}
.teaching_materials .r_item{
	order: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 2rem;
}
.teaching_materials .r_item .slider{
	position: relative;
	width: 100%;
	margin-bottom: 3rem;
}
.teaching_materials .r_item .slider .swiper-pagination{
	bottom: -2rem;
	left: 50%;
	transform: translateX(-50%);
}
.teaching_materials .r_item .slider .swiper-pagination .swiper-pagination-bullet{
	margin: 0 5px;
	outline: none;
}
.teaching_materials .r_item .slider .swiper-pagination .swiper-pagination-bullet-active{
	background: #000;
}
.teaching_materials .r_item .btn{
	width: 100%;
}
.teaching_materials .r_item .btn a{
	color: #b28850;
	padding: 0.5rem;
	letter-spacing: 0.1rem;
	text-align: center;
	border: solid 2px #b28850;
	border-radius: 10px;
}
.teaching_materials .r_item .btn a span::after{
	content: '>';
	margin-left: 0.75rem;
}

.teaching_materials .item .l_item{
	order: 2;
}
.teaching_materials .l_item .catch{
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	margin-bottom: 0.5rem;
}
.teaching_materials .cat_wrap{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
}
.teaching_materials .cat_wrap p{
	color: #fff;
	font-size: 0.9rem;
	width: 100%;
	text-align: center;
	line-height: 1.4;
	letter-spacing: 0.05rem;
	padding: 0.5rem 0.75rem;
	margin-top: 0.5rem;
	border-radius: 0.2rem;
}
.teaching_materials .cat_wrap p:last-of-type{
	margin-right: 0;
}
.teaching_materials .cat_wrap .cat_green{ background: #61ad86; }
.teaching_materials .cat_wrap .cat_pink{ background: #f19ec2; }
.teaching_materials .cat_wrap .cat_blue{ background: #70b5f0; }
.teaching_materials .cat_wrap .cat_salmonpink{ background: #f7686a; }
.teaching_materials .cat_wrap .cat_orange{ background: #f19149; }
.teaching_materials .cat_wrap .cat_lightgreen{ background: #b3d465; }
.teaching_materials .cat_wrap .cat_gold{ background: #b28850; }
.teaching_materials .cat_wrap .cat_purple{ background: #7e8af9; }
.teaching_materials .cat_wrap .cat_darkorange2{ background: #e95833; }
.teaching_materials .cat_wrap .cat_emeraldgreen{ background: #39bb7f; }

.teaching_materials .l_item h3{
	font-size: 1.2rem;
	line-height: 1.4;
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
}

.teaching_materials .l_item .inner01{
	margin-bottom: 1.25rem;
}
.teaching_materials .l_item .inner01 .txtbox{
	display: inline-block;
	font-size: 0.7rem;
	letter-spacing: 0.05rem;
	border: solid 1px #000;
	padding: 0 0.5rem;
	margin-bottom: 0.25rem;
}
.teaching_materials .l_item .inner01 ul{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.75rem;
}
.teaching_materials .l_item .inner01 ul li{
	font-size: 0.8rem;
	letter-spacing: 0.05rem;
	margin-right: 1rem;
}
.teaching_materials .l_item .inner01 ul li::before{
	content: '●';
}
.teaching_materials .l_item .inner01 .price{
	display: inline-block;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	border-bottom: solid 2px #000;
}
.teaching_materials .l_item .inner01 .price span{
	font-size: 0.7rem;
}

.teaching_materials .l_item .inner02 h4{
	font-size: 0.8rem;
	font-weight: normal;
}
.teaching_materials .l_item .inner02 ul{
	margin-left: 1rem;
}
.teaching_materials .l_item .inner02 .txt01{
	margin-bottom: 1rem;
}
.teaching_materials .l_item .inner02 .txt01:last-of-type{
	margin-bottom: 0;
}
.teaching_materials .l_item .inner02 ul li{
	list-style: disc;
	font-size: 0.8rem;
}
.teaching_materials .l_item .inner02 ol li{
	font-size: 0.8rem;
}
.teaching_materials .l_item .inner02 p{
	font-size: 0.8rem;
}
.teaching_materials .l_item .inner02 p + p{
	margin-top: 1rem;
}
.teaching_materials .l_item .inner02 a{
	color: #158ec7;
	letter-spacing: 0.05rem;
}

.teaching_materials .l_item dl{
	margin-top: 1.5rem;
}
.teaching_materials .l_item dt,
.teaching_materials .l_item dd{
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	padding: 0.5rem 1rem;
}
.teaching_materials .l_item dt{
	width: 30%;
	color: #fff;
	background: #b28850;
	text-align: center;
	line-height: 1;
}
.teaching_materials .l_item dd{
	width: 100%;
	background: #f3e8d9;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 教材紹介共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{
	padding: 2.5rem 0 4.5rem;
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	background: #fff;
}
.top04 .box{
	margin-top: 2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	padding: 2.5rem 0 4.5rem;
	box-shadow: 0px 0 15px 5px rgba(0,0,0,0.2);
	margin-top: -2rem;
	background: #fff;
}
.top05 .box{
	margin-top: 2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{
	padding: 2.5rem 0 4.5rem;
	box-shadow: 0px 0 15px 5px rgba(0,0,0,0.2);
	margin-top: -2rem;
	background: #fff;
}
.top06 .box{
	margin-top: 2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top07{
	padding: 2.5rem 0;
	box-shadow: 0px 0 15px 5px rgba(0,0,0,0.2);
	margin-top: -2rem;
	background: #fff;
}
.top07 .box{
	margin-top: 2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ08 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top08 .ttl_box{
	background: #cfa972;
	padding: 0.75rem 1.5rem;
}
.top08 .ttl_box h2{
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}
.top08 .top08_in{
	padding: 2.5rem 0 3rem;
	background: url(../images/top/top08_back_sp.jpg) 40% 0% / cover no-repeat;
}
.top08_in h3{
	width: 90%;
	margin: 0 auto;
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0.1rem;
	padding-bottom: 0.75rem;
	border-bottom: solid 2px #d2a568;
	text-align: center;
}
.top08_in .box{
	margin-top: 2.5rem;
}
.top08_in .box .item{
	margin-top: 2rem;
}
.top08_in .box .item:first-of-type{
	margin-top: 0;
}
.top08_in .box .item .list01{
	width: 90%;
	margin: 0 auto 2rem;
}
.top08_in .box .item .list01 li{
	text-align: center;
	border-radius: 3px;
	color: #fff;
	background: #cfa972;
	padding: 0.25rem 0.5rem;
	margin-top: 0.5rem;
	letter-spacing: 0.05rem;
}
.top08_in .box .item .inner{
	position: relative;
	width: 100%;
	background: #fff;
	border: solid 1px #d2a568;
	border-radius: 10px;
	padding: 0.75rem 1rem;
}
.top08_in .box .item .inner::before{
	position: absolute;
	content: '';
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-0.5rem);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1rem 1rem 0 1rem;
	border-color: #d2a568 transparent transparent transparent;
}
.top08_in .box .item .inner .list02 li{
	font-size: 0.9rem;
}
.top08_in .box .item .inner .list02 li::before{
	content: '●';
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ08 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ09 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top09{
	padding: 2.5rem 0 3rem;
	background: url(../images/top/top09_back.jpg) 85% 0% / cover no-repeat;
}
.top09 h2{
	width: 90%;
	margin: 0 auto;
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0.1rem;
	padding-bottom: 0.75rem;
	border-bottom: solid 2px #d2a568;
	text-align: center;
}
.top09 .box{
	margin-top: 2.5rem;
}
.top09 dt{
	color: #b28850;
	background: #f4eadb;
	margin-top: 2rem;
	text-align: center;
	font-size: 1.1rem;
	padding: 0.3rem 0.5rem;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	letter-spacing: 0.1rem;
}
.top09 dt:first-of-type{
	margin-top: 0;
}
.top09 dd{
	font-size: 0.9rem;
	background: #fff;
	padding: 0.75rem 1.25rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ09 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ10 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top10{
	padding: 2.5rem 0 0;
	background: url(../images/top/top10_back.jpg) top left / cover no-repeat;
}
.top10 .ttl_box{
	text-align: center;
	margin-bottom: 2rem;
}
.top10 .ttl_box h2{
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0.25rem;
}
.top10 .ttl_box .logo{
	width: 15rem;
	margin: 0 auto 2rem;
}
.top10 .ttl_box .logo img{
	width: 100%;
	height: auto;
}
.top10 .ttl_box h3{
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}
.top10 .ttl_box h3 span{
	color: #ea3d3d;
}
.top10 .youtube_wrap{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
.top10 .youtube{
	width: 100%;
	height: 0;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
}
.top10 .youtube iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.top10 .item{
	margin-top: 2rem;
}
.top10 .item .txt{
	width: 100%;
	padding-bottom: 2rem;
}
.top10 .item .txt h4{
	color: #b28850;
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	padding-bottom: 0.25rem;
	border-bottom: solid 2px #b28850;
	margin-bottom: 1rem;
}
.top10 .item .txt p{
	font-size: 0.9rem;
	line-height: 2.2;
}
.top10 .item .img_wrap{
	position: relative;
	width: 50%;
	margin-top: -1.5rem;
	transform: translateX(40%);
}
.top10 .item .img_wrap .img img{
	width: 100%;
	height: auto;
}
.top10 .item .img_wrap p{
	position: absolute;
	top: 15%;
	right: -3rem;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ10 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ11 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top11{
	padding: 2.5rem 0;
	text-align: center;
}
.top11 h2{
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0.5rem;
}
.top11 p{
	font-size: 0.8rem;
}
.top11 .btn{
	width: 20rem;
	margin: 1.5rem auto 0;
}
.top11 .btn a{
	color: #fff;
	background: #f7686a;
	padding: 0.5rem;
	text-align: center;
	letter-spacing: 0.1rem;
	border: solid 2px #f7686a;
	border-radius: 10px;
}
.top11 .btn a span::after{
	content: '>';
	margin-left: 0.75rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ11 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

@media screen and (orientation:portrait) {/* 縦向き */}
@media screen and (orientation:landscape) {/* 横向き */}